.card-bg-1 {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.bg-gray-1 {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}
  
.bg-light-platform {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));  
}

/* Coloring for Light / Dark */

button span:not(:has(.tabler-icon)) {
  color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
}
button:disabled {
  background-color: light-dark(var(--mantine-color-gray-1), #424242);
}
button:disabled span {
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-9));
}

.mantine-Switch-trackLabel {
  color: light-dark(var(--mantine-color-gray-6), #c9c9c9);
}

.mantine-Switch-body:has(> input:checked) .mantine-Switch-trackLabel {
  color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
}
.mantine-Switch-thumb {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  border-color: light-dark(var(--mantine-color-white), var(--mantine-color-black));
}

body {
  color: var(--mantine-color-text) !important;
}

svg.nav-icon {
  stroke: light-dark(var(--mantine-color-black), var(--mantine-color-dark-7));
}

.line-icon svg {
  color: light-dark(var(--mantine-color-cool-green-6), var(--mantine-color-white));
}